/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/
.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

#mainimage img {
	border: 5px rgb(152, 173, 166) solid;
	
}

h1 {
	font-size: 5em;
	font-family:'Baskerville', serif;
	color: rgb(152, 173, 166);
	margin: auto;
}

h2 {
	font-size: 2em;
	font-family: 'Times New Roman', Times, serif;
	color: rgb(114, 126, 122);
}

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif; 
}

.darkFont {
	color: rgb(85, 85, 85);
}

#greyFont img {
	border: 5px rgb(204, 204, 204) solid;
	background-color: rgb(246, 240, 238);
	-webkit-transition: background-color 2s ease-out;
	-moz-transition: background-color 2s ease-out;
	-o-transition: background-color 2s ease-out;
	transition: background-color 2s ease-out;
}

#greyFont:hover {
	background-color: rgb(10, 5, 4);
	cursor: pointer;
}

footer {
	display: block;
	text-align: right;
	font-size: 0.8em;
}
